@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box
    ;
}
nav{
    position:relative;
    background:rgb(144, 20, 226);
    margin-top: 10px;
    align-items: center;
    width:40vw;
    height:30vh;
    border-radius: 12px;
    
}
.logo{
    align-items: center;
    margin:50px 65px;
    font-size: 30px;
    font-weight: bolder;
    text-align:center;
    color:white;
}
.logo:hover{
    transition:all 0.3s ease;
    background:none;
    border-radius: 8px;
    color:turquoise;
    cursor: pointer;
}
body{
    font-family: 'Muli',sans-serif;
    display:flex;
    margin:0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    display:flex;
    width:90vw; 
}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color:rgb(144, 20, 226);
    cursor:pointer;
    flex:0.5;
    margin:10px;
    position:relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position:absolute;
    bottom:20px;
    left:20px;
    margin:0;
    opacity:0;
    background:#e0e0e0;
    border-radius: 5px;
}
.panel.active{
    flex:5;
}
.panel.active h3{
    opacity:1;
    transition:opacity 0.3s ease-in 0.4s;
    text-align: center;
    margin-left:120px;
    background:none;

}
.panel.active h3:hover{
    transition:all 0.3s ease;
    background:none;
    border-radius: 8px;
    color:#e0e0e0;
    cursor: pointer;
}
@media(max-width:480px){
    .container{
        width:100vw;
    }
    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display:none;
    }
}